version: "3.9"

services:

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - user-service
      - product-service
      - order-service

  user-service:
    build: ./services/user-service
    environment:
      DB_HOST: mysql
    depends_on:
      - mysql

  product-service:
    build: ./services/product-service
    environment:
      DB_HOST: mysql
    depends_on:
      - mysql

  order-service:
    build: ./services/order-service
    environment:
      DB_HOST: mysql
      REDIS_HOST: redis
    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql:/docker-entrypoint-initdb.d

  redis:
    image: redis:alpine

